<div class="row">
  <h1>Teams</h1>

  {{#if session.isAuthenticated}}
    <p>
      {{link-to "New Team" "teams.new" }}
    </p>
  {{/if}}

  {{team-table
    items=this
    removeAction="remove"
  }}
</div>
