<div class="row">
  <h1>Players</h1>

  {{#if sessionService.isAuthenticated}}
    <p>
      {{link-to "New Player" "players.new" classNames="button tiny"}}
    </p>
  {{/if}}

  {{player-table
    items=this
    hasTeam=true
    removeAction="remove"
  }}
</div>
