<form {{action "save" on="submit"}}>
  <div>
    <label>
      Home
      {{view 'select'
        content=teams
        valueBinding=home.content
        optionLabelPath="content.name"
        prompt="Select a team"
      }}
    </label>
  </div>
  <div>
    <label>
      Away
      {{view 'select'
        content=teams
        valueBinding=away.content
        optionLabelPath="content.name"
        prompt="Select a team"
      }}
    </label>
  </div>
  <div>
    <label>
      Date
      {{pik-a-day
        date=date
        showTime=true
        format="L, h:mm a"
      }}
    </label>
  </div>
  <div>
    <input type="submit" value="Save" class="button tiny">
  </div>
</form>
