<div class="row">
  <h1>Matches</h1>

  {{#if session.isAuthenticated}}
    <p>
      {{link-to "New Match" "matches.new" }}
    </p>
  {{/if}}

  {{match-table
    items=this
    removeAction="remove"
  }}
</div>
